

/* Navbar */
.navbar {
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .2);
    width: 100%;
  }


/* Carousel */





/* Footer */



/* Fonts */
/* Agathe*/ 

p {
  font-family: 'Space Mono', monospace;
  margin-top : 1rem; 
}
h1, h5, .form-group {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    margin-top : 1rem;
}
.card-img-top {
    margin-left : auto; 
    margin-right : auto; 
}

/* Titles * /
/* Jumbotron*/
.bg-jumbo {
  background: url("../images/wil-stewart-23388-unsplash.jpg") no-repeat fixed top;
}

.height-vh {
 position: relative;
  margin:0;
  padding:0;
  margin-top: 0;
  height: 100vh;
}

.center-element {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* footer */
