
.p-remi,h5 {
  font-family: 'Space Mono', monospace;
  color :##04021B;
  font-size:20px;
}
.a-remi {
  font-size:18px;
}

.card-text-remi{
  font-size: 16px;
}
.media-body-remi{
font-size: 24px;
}
.card-header-remi {
  background-color :#04021B;
   color :white;
  width: 100%;
  margin:0%;
  text-align: center;
}
.card-header-remi-2 {
  background-color :#04021B;
  color :white;
  width: 100%;
  margin:0%;
  text-align: center;
  align-items: center;
}

.card-remi{
  border-style:solid ;
  border-color:  #04021B;

}

.h1-r, .h2-r, .h3-r, .h4-r, .h5-r{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.headerRemi {
  position: relative;
  background-color: black;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  } 
  
  .header .container {
  top: 25vh;
  position: relative;
  z-index: 2;
  } 

  .navbar {
    background-color: #04021B;
    box-shadow: 0 .5rem .8rem rgba(0, 0, 0, .2);
    width: 100%;
    }
 .carou{
      width: 1024px;
      height: 451px;
  }
  .carousel-caption > .p-remi{
    color:white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  }


/* FOOTER */ 
.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}
.page-footer {
  background-color: #162955; 
}
.footer-copyright {
  font-family: 'Space Mono', monospace;
  color: rgb(224, 141, 45);
}
.footer-copyright a {
  color: rgb(224, 141, 45);
}

  .page-footer {
  background-color: #04021B; 
  }
  .footer-copyright {
  font-family: 'Space Mono', monospace;
  color: white;
  }
  .footer-copyright a {
  color: white;
  }
  .page-footer {
    background-color: #04021B; 
    color:white;
    }
    .nav-link {
      color:blue;
      font-weight: 800;
      }
      .nav-link:hover {
      color: #FFF;
      }
      
      .nav-item:hover {
      color: #FFF;
      }